<!DOCTYPE html>
<html lang="pt-Br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sala de Espera</title>
  <link rel="stylesheet" href="css/Main-Display.css">
</head>
<body>
  <div class="container">

    <div class="main-section">
      <div id="reprodutor">
        <div id="canvas">
        </div>
      </div>
    </div>   


    <div class="sidebar">
      <div class="news-section">
        <div class="news-card">
        </div>
      </div>
    </div>
    
      <div class="weather-section">
        <div class="weather-card">
        </div>
      </div>

      <div class="footer-text">
        <div class="clock-container">
        </div>
      </div>
    </div>
  <div class="footer-text">Clock</div>

  <script type="module" src="/js/Main-Display.js"></script>
  <script type="module" src="/js/Player.js"></script>
</body>
</html>
